.progress {
    height: 10px;
}

.star {
    font-size: 30px;
}

.progress-text {
    font-size: 14px;
}

.images-section {
    margin-left: -5px;
    margin-right: -5px;
}

.images-section>div {
    position: relative;
    padding: 5px;
}

.images-section .image {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #222;
    cursor: pointer;
}