.profile-image {
    width: 180px;
    height: 180px;
    margin: auto;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 12px;
    border: 1px solid #ddd;
}

.list-group-item {
    padding: 12px 8px;
}

.jBox-title,
.jBox-content {
    padding: 15px 10px !important;
}