.header2 {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 12px;
    font-size: 20px;
    font-weight: bold;
    background-color: #176974;
    color: #fff;
    z-index: 10;
}

body {
    padding-top: 150px;
}

.list-group-item {
    padding: 12px 8px;
}