.images-section {
    margin-left: -5px;
    margin-right: -5px;
}

.images-section>div {
    position: relative;
    padding: 5px;
}

.images-section .image {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #222;
    cursor: pointer;
}

.btn-add-image {
    width: 100%;
    aspect-ratio: 1 / 1;
    border: 2px #000;
    display: block;
    border-style: dashed;
    border-radius: 12px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn-add-image i {
    font-size: 40px;
    margin-bottom: 5px;
}

.btn-del-image {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: red;
    background-color: #ffffff;
    z-index: 1;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
}

.btn-del-image:hover {
    background-color: #e1e1e1;
}

:root {
    --width-size-1: 130px;
}

.ui-group-title {
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px;
    margin-bottom: 5px;
}

.ui-info-title {
    width: var(--width-size-1);
}

.ui-info-item {
    margin: 0;
    border-bottom: 1px solid #dee2e6;
    padding: 10px 0;
}

#image {
    cursor: pointer;
}

.star {
    font-size: 30px;
    margin-right: 6px;
    color: #ffd600;
}

.review-score {
    margin-left: 20px;
    font-size: 20px;
}

/* lg */
@media (max-width: 991.98px) {
    .ui-info-desc {
        width: calc(100% - var(--width-size-1));
    }

    .ui-info-item {
        margin: 0;
        border-bottom: 0;
        padding: 0px;
    }

    .ui-info-title,
    .ui-info-desc {
        border-bottom: 1px solid #dee2e6;
    }

    .ui-info-title {
        padding: 10px 0 10px 10px;
    }

    .ui-info-desc {
        padding: 10px 0px 10px 0px;
    }
}