.step-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.step-container::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 5%;
    width: 90%;
    height: 4px;
    background-color: #dee2e6;
    transform: translateY(-50%);
    z-index: 1;
}

.step {
    position: relative;
    text-align: center;
    flex: 1;
    z-index: 2;
}

.step .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 auto 9px;
    color: #fff;
    font-weight: bold;
    background-color: #dee2e6;
    position: absolute;
    right: Calc(50% - 10px);
}

.step.active .circle {
    background-color: #007bff;
}

.step.completed .circle {
    background-color: #28a745;
}

.step p {
    font-size: 13px;
    color: #333;
    margin: 0;
    white-space: nowrap;
    padding-top: 25px;
}