/**  **/
.step-horizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-width: 600px;
    margin: 0 auto;
}

.step-horizontal::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 5%;
    width: 90%;
    height: 4px;
    background-color: #dee2e6;
    transform: translateY(-50%);
    z-index: 1;
}

.step-horizontal .step {
    position: relative;
    text-align: center;
    flex: 1;
    z-index: 2;
}

.step-horizontal .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    background-color: #dee2e6;
    position: absolute;
    right: Calc(50% - 15px);
    padding: 5px;
    font-size: 12px;
}

.step-horizontal .step.pending .circle {
    background-color: #007bff;
}

.step-horizontal .step.completed .circle {
    background-color: #28a745;
}

.step-horizontal .step.cancel .circle {
    background-color: #ba2f2f;
}

.step-horizontal .step p {
    font-size: 13px;
    color: #333;
    margin: 0;
    white-space: nowrap;
    padding-top: 35px;
}







.timeline {
    position: relative;
}

.timeline::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 15px;
    bottom: 50px;
    width: 2px;
    /* height: 100%; */
    background-color: #ddd;
}

.timeline-item {
    position: relative;
    padding-bottom: 25px;
    padding-left: 35px;
}

.timeline-item::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 4px;
    width: 12px;
    height: 12px;
    background-color: #ccc;
    border-radius: 50%;
    z-index: 1;
}

.timeline-item.active::before {
    background-color: #0aad3b;
    /* สีเขียวของสถานะล่าสุด */
}

.timeline-date {
    font-size: 13px;
    color: #666;
    margin-bottom: 4px;
}

.timeline-content h4 {
    font-size: 15px;
    margin: 0;
    color: #000;
}

.timeline-content .subtext {
    font-size: 13px;
    color: #0d6efd;
    margin-top: 3px;
}

.timeline-item:not(.active) {
    color: #999;
}

.timeline-item:not(.active) h4 {
    color: #999;
}