.custom-control {
    padding-left: 1.8rem;
}

.custom-control-label::before {
    top: 0.12rem;
    left: -1.8rem;
    width: 1.3rem;
    height: 1.3rem;
}

.custom-control-label::after {
    top: 0.12rem;
    left: -1.8rem;
    width: 1.3rem;
    height: 1.3rem;
}